.container{
    padding: 1rem;
    margin:5rem auto 0;
    display: flex;
    justify-content:center;
    gap: 4rem;
}

.col{
    display: flex;
    min-width: 400px;
    margin-top: 5px;
    flex-direction: column;
    height: 545px;
    justify-content: space-between;
}

@media only screen and (max-width: 940px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0;
    }
    .col{
        justify-content: space-around;
        height: auto;
    }
}
@media only screen and (max-width: 550px){

}